body {
    display:flex;
    flex-direction: column;
    margin:0px;
    font-family: sans-serif, "Roboto", serif;
    }
a {
    text-decoration: none;
    font-size: 18px;
    color:#e5e7eb;
    }
ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding:0px;
    gap: 19px;
    }

.top {
    display:flex;
    justify-content: space-between;
    padding: 15px 145px 70px 145px;
    }
.header {
    display:flex;
    flex-direction: column;
    background-color: #1f2937;
    }
.head-bottom {
    display:flex;
    justify-content: space-between;
    padding:0px 145px 90px 145px;
    flex:1;
    align-items: stretch;
    }
.left-head-text {
    width: 400px;
    height: 200px;
    }
    .right-head-image img {
        height:200px;
        width: 500px;
    }
.left {
    font-size: 24px;
    color: #f9faf8;
    }
.left-head-text div {
    font-size: 18px;
    color: #e5e7eb;
    }
.main {
    font-size: 48px !important;
    font-weight: 800px !important;
    color: #f9faf8;
    }
button {
    background-color: #3882f6;
    color:#e5e7eb;
    border-radius: 5px;
    padding: 3px 9px;
    border-color:#3882f6;
    margin-top: 10px;
    }

.info {
    display:flex;
    flex-direction:column;
    padding-bottom: 80px;
}
.info-text {
    font-family:sans-serif, "Roboto", serif;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 20px;
    padding-bottom: 30px;
}
.info-block {
    display:flex;
    flex: 1;
 justify-content: center;
 gap: 15px;
}

.blocks {
    text-align: center;
    max-width: 200px;
}
.blocks img {
    width: 200px;
    height: 200px;
}

   .quote-container {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 40px;
   }
   .quote-info {
    display:flex;
    flex-direction: column;
   }
   .quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    width: 700px;
}
.authur {
    display:flex;
    justify-content: flex-end;
}
.call-to-container {
    display:flex;
    justify-content: center;
    padding: 65px;
}
.call-block {
    background-color: #3882f6;
    display:flex;
    justify-content: space-between;
    padding: 17px 37px;
    width: 700px;
    border-radius: 5px;
}
.block-left,
.block-right {
    font-size: 18px;
    color: #f9faf8;
}
.block-left .text {
    font-weight: 300;
    font-size: 13px;
}
.call-block .block-right {
    border-color: #f9faf8;
}
.footer {
    margin-top: auto;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
   padding: 30px;
   font-weight: 300;
}